<script type="module" src="{{ base_path }}/assets/js/main.min.js"></script>

{% include analytics.html %}

<script src="{{ base_path }}/assets/js/news-toggle.js"></script>
<script>
  // Force the browser tab title to be the site title on every page load.
  // This is a workaround for a flickering issue caused by a theme script.
  document.addEventListener("DOMContentLoaded", function() {
    document.title = "{{ site.title | escape }}";
  });
</script>

{% if site.search == true or page.search == true %}
  <script src="{{ base_path }}/assets/js/lunr/lunr.min.js"></script>
{% endif %}

<script src="{{ base_path }}/assets/js/publication.js"></script>

<script src="{{ base_path }}/assets/js/{{ site.data.ui-text[site.locale].script | default: "main.min.js" }}"></script>
